#container {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 10rem 5rem;
    #joke{
        display: grid;
        gap: 2rem;
        width: 70vh;
    }
    #joke p{
        background-color: rgb(71, 76, 77);
        padding: 0.5rem 0.75rem;
        border-radius: 0.5em;
    }
    #joke p:last-child{
        background-color:  rgb(101, 108, 109);
    }
}